.artists {
  padding-top: 5rem;
  width: 100%;
}

.artists h3 {
  font-weight: 500;
  font-size: 2.5rem;
}

.artistsContainer {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.25rem;
  justify-content: space-between;
  width: 100%;
}

.artistsContainer img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 4px;
}
