button {
  padding: 0.625rem 3.5rem;
  border-radius: 4px;
  background: var(--blue);
  max-width: 11.75rem;
  height: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.875rem;
  color: var(--white);
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  cursor: pointer;
  border: none;

  transition: opacity 0.2s;
}

button:hover {
  opacity: 0.85;
}
