.gallery {
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.galleryBoxImg {
  display: flex;
  gap: 3.375rem;
}

.galleryBoxImg img {
  max-width: auto;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}

.content {
  margin-left: auto;
  width: 24.75rem;
  gap: 10rem;
}

.content strong {
  display: block;
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
