.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
}

.header h1 {
  font-weight: 600;
  font-size: 2rem;
  color: var(--black);
}

.header input {
  background: var(--gray);
  padding: 0.5rem 1.5rem;
  width: 40.25rem;
  max-width: 100%;
  border-radius: 4px;
  height: 2.5rem;
  border: none;
}

@media (max-width: 576px) {
  .header h1 {
    font-size: 1.5rem;
  }

  .header button {
    font-size: 0.625rem;
    padding: 0.3125rem 3.125rem;
    max-width: 100px;
    height: 24px;
  }
}

@media (max-width: 768px) {
  .header input {
    display: none;
  }
}

@media (max-width: 992px) {
  .header input {
    max-width: 50%;
  }
}
