.section {
  display: flex;
  justify-content: space-between;
  padding-top: 5.1875rem;
  gap: 4%;
}

.sectionRight {
  /* max-width: 100%; */
  height: auto;
  width: 30%;
}

.sectionRight img {
  max-width: 100%;
  height: 100%;
}

.contentTitle {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.contentTitle h1 {
  font-size: 3rem;
  font-weight: 600;
}

.contentTitle span {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--dark-gray);
  margin-top: 0.5rem;
}

.contentDescription {
  display: flex;
  margin-top: 3rem;
  gap: 3rem;
  align-items: center;
}

.contentDescriptionItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentDescriptionItems strong {
  font-weight: 600;
  font-size: 2rem;
}

.contentDescriptionItems span {
  font-weight: 600;
  font-size: 1rem;
  font-weight: 500;
  color: var(--dark-gray);
}

.contentTitle button {
  margin-top: 2rem;
}

/* Media Query */

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .section {
    padding-top: 4rem;
    gap: 0rem;
    display: block;
  }

  .contentTitle {
    width: 100%;
  }

  .sectionRight {
    display: none;
  }
  .contentDescription {
    margin-top: 2.5rem;
    justify-content: space-between;
  }

  .contentTitle button {
    margin-top: 1.25rem;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .section {
    padding-top: 2.875rem;
    max-width: 100%;
    gap: 0rem;
    display: block;
  }

  .contentTitle {
    width: 100%;
  }

  .sectionRight {
    display: none;
  }
  .contentTitle h1 {
    font-size: 1.5rem;
  }
  .contentTitle span {
    font-size: 1rem;
  }
  .contentTitle button {
    margin-top: 1.5rem;
    max-width: 100%;
    font-size: 0.75rem;
    max-height: 2.5rem;
  }
  .contentDescription {
    margin-top: 2.5rem;
    max-width: 100%;
    justify-content: space-between;
    gap: 0rem;
    /* Pq minha div não diminui quando desce dos 367px*/
  }
  .contentDescriptionItems strong {
    font-size: 1.5rem;
  }
  .contentDescriptionItems span {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .section {
    padding-top: 2.875rem;
    max-width: 100%;
    gap: 0rem;
    display: block;
  }

  .contentTitle {
    width: 100%;
  }

  .sectionRight {
    display: none;
  }
  .contentTitle h1 {
    font-size: 1.5rem;
  }
  .contentTitle span {
    font-size: 0.875rem;
  }
  .contentTitle button {
    margin-top: 1.5rem;
    max-width: 100%;
    font-size: 0.625rem;
    max-height: 2rem;
  }
  .contentDescription {
    margin-top: 2.5rem;
    max-width: 100%;
    justify-content: space-between;
    gap: 0rem;
    /* Pq minha div não diminui quando desce dos 367px*/
  }
  .contentDescriptionItems strong {
    font-size: 1.5rem;
  }
  .contentDescriptionItems span {
    font-size: 0.875rem;
  }
}
