.wrapper {
  max-width: 1228px;
  margin: 0 auto;
}

@media (max-width: 1100px) {
  .wrapper {
    padding: 0 1.5rem;
    margin: auto;
  }
}

@media (max-width: 820px) {
  .wrapper {
    padding: 0 1.5rem;
    margin: auto;
  }
}
